{% extends 'base.html' %}

{% block title %} List of Contries {% endblock %}

{% block content %}
    <div class="py-6">
    <form class="control" method="get" action="">
        <div class="column">
            <input class="is-four-fifths" name="country_name" class="input" type="text" placeholder="Search by country name" value="{{ request.GET.country_name }}" />
            <input type="submit" value="Search" />
        </div>
    </form>

    <table class="table is-bordered m-auto">
    <thead>
        <th>Name</th>
        <th>CCA2</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Timezone</th>
        <th>Flag</th>
    </thead>
    <tbody>
        {% for country in countries %}
          <tr>
            <td> <a href="{% url 'country-detail' country.pk %}"> {{ country.common_name }} </a> </td>
            <td>{{ country.cca2 }}</td>
            <td>
                {% for capital in country.capitals.all %}
                    {{ capital }} {% if not forloop.last %} , {% endif %}
                    {% empty %}
                        No Capital
                {% endfor %}
            </td>
            <td>{{ country.population }}</td>
              <td>
                  {% for tz in country.timezones.all %}
                  {{ tz.name }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
                      No timezone
                  {% endfor %}
              </td>
            <td> <img src="{{ country.flag_url }}" alt="{{ country.common_name }}'s flag" width="50"> </td>
          </tr>
        {% endfor %}

    </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    </div>
{% endblock %}